# Repo specific:
vid.md
cybersecurity/security-roadmap.md
networking/open-source/odin-project-API-keys.md
/cybersecurity/roadmap
/cybersecurity/THM/THM.md
/cybersecurity/HTB/HTB.md
/hidden
/networking/networking.md
/roadmap
move-pics.sh
.move-pics.sh.swp
Excalidraw
cybersecurity/TTPs/recon/OS/linux-recon.md
PNPT/PNPT-hidden
nested-repos
PNPT-old

# Submod specifics:
/nested-repos/PNPT-study-guide/PNPT-hidden
/nested-repose/malware-analysis-notes/PMAT-hidden

# Obsidian specific:
.obsidian/cache
.trash/
.DS_Store
.obsidian/workspace.json
.obsidian/community-plugins.json
.obsidian/plugins/
